@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
  min-width: 340px;
  height: 440px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdfdf4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e243;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a51a;
}